.ico{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.ico--mr{
    margin-right: 5px;
}


.i-mail{background-image: url(../../assets/img/mail.png);}
.i-mts{background-image: url(../../assets/img/mts.png);}
.i-a1{background-image: url(../../assets/img/a1.png);}
.i-phone{background-image: url(../../assets/img/phone.png);}
.i-login{background-image: url(../../assets/img/login.png);}
.i-search{background-image: url(../../assets/img/search.png);}
.i-close{background-image: url(../../assets/img/close.png);}
.i-fav{background-image: url(../../assets/img/fav.png);}
.i-fav-fill{background-image: url(../../assets/img/fav-fill.png);}
.i-cart{background-image: url(../../assets/img/cart.png);}
.i-dec{background-image: url(../../assets/img/dec.svg);}
.i-inc{background-image: url(../../assets/img/inc.svg);}
.i-fb{background-image: url(../../assets/img/fb.png); }
.i-inst{background-image: url(../../assets/img/inst.png);}

//footer icons
.i-mail-alt::before{background-image: url(../../assets/img/mail-alt.png);}
.i-phone-alt::before{background-image: url(../../assets/img/phone-alt.png);}
.i-time::before{background-image: url(../../assets/img/time.png);}