@import '_reset.scss';
@import '_vars.scss';
@import '_fonts.scss';

*,
*:after,
*:before{
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    background-color: $bgc;
    font-family: 'Roboto', serif;
}
.page{
    position: relative;
    font-size: 1.5rem;
    padding-top: $header;
}

.container{
    max-width: 1640px;
    padding: 0 20px;
    margin: 0 auto;
}

.hover-y{
    transition: filter 0.3s ease;
    &:hover{
        filter: invert(50%) sepia(100%) saturate(600%)
    }
}
.btn{
    background-color: $primary;
    padding: 12px 14px;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    display: inline-block;
    border-radius: 2rem;
    border: 1px solid $primary;
    cursor: pointer;
    transition: all .3s ease;
    &:hover{
        opacity: .6;
    }
    &--outline{
        background-color: #fff;
        color: $primary;
    }
}


.intro {
    width: 100%;
    height: 800px;
    margin-bottom: 40px;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }
    p {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        width: 90%;
        margin: auto;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 72px;
        color: #fff;
        display: flex;
        align-items: center;

        span {
            flex-basis: 100%;
            text-align: center;
        }
    }
}




@import '_slider.scss'; 
@import '_icons.scss';
@import '_header.scss';
@import '_promo.scss';
@import '_card.scss';
@import '_footer.scss';
@import '_media.scss';

